<!-- Card w/ Name, Dropdown for favorite, Show reading list -->
<div fxLayout="column"
     fxLayoutAlign="space-around start">
  <div fxLayout="row">
   <div fxFlex="50%" fxFlexOffset="30%">
    <h2>{{user?.name}}</h2>

    <form (ngSubmit)="saveBook(selectedBook)">
    <mat-form-field>
        <mat-select placeholder="Add to Reading" [(ngModel)]="selectedBook" name="book">
          <mat-option *ngFor="let book of books" [value]="book.id">{{book.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-row" style="margin-left: 10px;">
        <button mat-raised-button
                color="primary"
                class="button-margin-btm">Submit</button>
      </div>
    </form>

    <form (ngSubmit)="saveFavorite(selectedFav)">
    <mat-form-field>
      <mat-select placeholder="Favorite Book" [(ngModel)]="selectedFav" name="book">
        <mat-option *ngFor="let book of books" [value]="book.title">
          {{book.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-row" style="margin-left: 10px;">
      <button mat-raised-button
              color="primary"
              class="button-margin-btm">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div fxLayout="row"
  fxLayoutAlign="space-around start">
  <div fxFlex="90%">
    <mat-list>
      <h4 mat-subheader>Favorite</h4>
    <mat-list-item>
      <mat-icon mat-list-icon>book</mat-icon>
      <h4 mat-line>{{favorite?.title}}</h4>
     </mat-list-item>
    </mat-list>
  </div>
</div>

<div fxLayout="row"
  fxLayoutAlign="space-around start">
  <div fxFlex="90%">
    <mat-list>
      <h4 mat-subheader>Reading List</h4>
    <mat-list-item *ngFor="let reading of readingList">
      <mat-icon mat-list-icon>book</mat-icon>
      <h4 mat-line>{{reading.title}}</h4>
      <p mat-line class="top-spacer">Author: {{reading.author}}</p>
     </mat-list-item>
    </mat-list>
  </div>
</div>
