<div fxLayout="row"
     fxLayoutAlign="space-around start">
    <div fxFlex="90%">
      <mat-list>
        <h4 mat-subheader>Books</h4>
        <mat-list-item>
          <mat-icon mat-list-icon>book</mat-icon>
          <h4 mat-line>Moby Dick</h4>
          <p mat-line class="top-spacer">Author: Herman Melville</p>
          <p mat-line class="top-spacer">Year: 1851</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

<!-- <div fxLayout="row"
  fxLayoutAlign="space-around start">
  <div fxFlex="90%">
    <mat-list>
      <h4 mat-subheader>Books</h4>
      <mat-list-item *ngFor="let book of books">
        <mat-icon mat-list-icon>book</mat-icon>
        <h4 mat-line>{{book.title}}</h4>
        <h4 mat-line>Author: {{book.author}}</h4>
        <h4 mat-line>Year: {{book.year}}</h4>
      </mat-list-item>
    </mat-list>
  </div>
</div> -->
